.card {
  width: calc(49% - 40px);
  max-height: calc(150px - 40px);
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;

  @media only screen and (max-width: 1440px) {
    width: calc(48% - 40px);
  }

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
  }

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
  }

  &:nth-child(odd) {
    margin-right: 20px;

    @media only screen and (max-width: 1200px) {
      margin-right: 0;
    }
  }

  &-title {
    margin: 0;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:first-of-type {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  &-subtitle {
    margin: 0;

    &:first-of-type {
      min-width: 100px;
    }

    &:last-of-type {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}