.sidebar {
  max-width: 200px;
  height: 100%;
  margin-right: 50px;

  @media only screen and (max-width: 600px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  &-input {
    width: 160px;
    padding: 7px 20px;
    border: none;
    border-radius: 20px;

    @media only screen and (max-width: 600px) {
      width: calc(100% - 40px);
    }

    &:focus {
      outline: none;
    }
  }

  &-history {
    margin-top: 20px;

    &-title {
      margin: 0;
      color: #fff;
      font-weight: bold;
    }

    &-list {
      list-style-type: none;
      color: #fff;
      padding: 0;

      > li {
        margin-bottom: 5px;
      }
    }
  }
}